.topnav{
  background-color: #66ffff;
  width: 200px;
  height: 140px;
}
.topnav a {
  color: black;
  padding: 15px;
  font-size: 30px;
}
.topnav a:hover {
  background-color: blue;
  color: green;
}