/* Add a background color to the top navigation */
.topnav {
  background-color:#ccfff1;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  color:#a94dff;
  padding; 10px:
}

/* Change the color of links on hover */
.topnav a:hover {
  
}
* {
  box-sizing: border-box;
}
/* Give your header a background color */
.header {
  background-color:#ff9999;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}