.topnav{
  background-color:grey;
  width:700px;
  height:px;
  background-image: url""
}
.topnav a {
  color:white;
  padding:15px;
  font-size:30px
}
.topnav a:hover {
  color:blue;
  background-color:grey;
}